
# kb_manager.css

KbManagerApp {
    layout: vertical;
}

FilteredDirectoryTree {
    background: $panel;
    border: heavy white;
    width: 100%;
    height: 100%;
}

ViewFileModal {
    align: center middle;
}

#view-container {
    width: 80%;
    height: 80%;
    border: thick $accent;
    background: $surface;
    overflow: auto;
}

#markdown-view {
    padding: 1;
    width: 100%;
    height: 100%;
}
